<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <!-- mybatis의 기본설정
  		- DB와 연결하는 설정 가능
  		- mybatis 내에서 사용할 변수 선언 (VO와 연결, typeAlias )
  		- 공식 홈페이지 한번 읽어봐 주세요
   -->  
  <configuration>
   	<typeAliases>
  		<typeAlias alias="board" type="com.human.java.domain.BoardVO"/>
  		<typeAlias alias="modifyboard" type="com.human.java.domain.modifyBoardVO"/>
  		<typeAlias alias="know_Comment" type="com.human.java.domain.CommentVO"/>
  		<typeAlias alias="bookmark" type="com.human.java.domain.BookmarkVO"/>
  		<typeAlias alias="page" type="com.human.java.domain.PageVO"/>
  		<typeAlias alias="member" type="com.human.java.domain.MemberVO"/>
  		<typeAlias alias="studyBoard" type="com.human.java.domain.StudyBoardVO"/>
  		<typeAlias alias="study_Comment" type="com.human.java.domain.StudyCommentVO"/>
  		<typeAlias alias="saveTemp" type="com.human.java.domain.SaveTempVO"/>
		<typeAlias type="com.human.java.domain.MemberVO" alias="member"/>
  	</typeAliases>
  </configuration>
  
  